html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
h2 {
    font-size: 10vh;
}

p {
    max-width: 40vh;
    word-wrap: break-word;
}

input {
    margin-top: 10vh;
}